@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    /* text colour */
    color: #1f2937;
    font-family: helvetica, sans-serif;
}